<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>

   <div id="root">

        <!-- Header -->
        <header>
            <div class="head-wrapper flex">
                <div class="logo">
                    <img src="./img/logo.png" alt="Logo Spotify">
                </div>
            </div>
        </header>

        <!-- Main -->
        <main>
            <div class="container">

                <!-- Select Genre Are -->
                <form>
                    <label for="genre"></label>
                    <select v-model="selectedGenre" name="genre" id="genre">
                        <option value="All Genre">All Genre</option>
                        <option value="Rock">Rock</option>
                        <option value="Pop">Pop</option>
                        <option value="Jazz">Jazz</option>
                        <option value="Metal">Metal</option>   
                    </select>
                </form>

                <!-- Cards Area -->
                <ul class="flex" >
                    <li class="card" v-for="(music) in albums" >
                        <!-- Thumb -->
                        <div class="img-album">
                            <img :src="music.poster" alt="">
                        </div>

                        <!-- Title Album -->
                        <div class="title-album">
                            <h3>
                                {{ music.title }}
                            </h3>
                        </div>
                        
                        <!-- Other Detailes About the Album -->
                        <div class="other-album-detailes">

                            <!-- Author -->
                            <div class="author-album">
                                <span>
                                    {{ music.author }}
                                </span>
                            </div>

                            <!-- Year Of Release -->
                            <div class="year-release-album">
                                <span>
                                    {{ music.year }}
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
   </div>

    <script src="js/script.js"></script>
</body>
</html>